Repository ocean-tracking-network/glatos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisholbrook, @jdpye, @jackVanish, @haydento, @benjaminhlina, @mhpob

Style code (GHA)
  R/load-read_otn_detections.r
Owners: @jackVanish, @jdpye

Added nanoparquet to description.
  DESCRIPTION
Owners: @chrisholbrook, @jdpye

update doc; version up
  DESCRIPTION
  NEWS.md
  R/load-read_otn_detections.r
  R/package-glatos.r
  ReadMe.md
  man/glatos.Rd
  man/read_otn_detections.Rd
Owners: @chrisholbrook, @jdpye, @jackVanish

update README to fix dead links to files, caused by file suffix (.r vs .R) and files that are not in the R folder
  ReadMe.md
Owners: @chrisholbrook, @jdpye

update .gitignore and .Rbuildigonore to accomodate latest version of RStudio
  .Rbuildignore
  .gitignore
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Update documentation
  DESCRIPTION
  man/adjust_playback_time.Rd
  man/detect_transmissions.Rd
  man/glatos.Rd
  man/greatLakesTrLayer.Rd
  man/interpolate_path.Rd
  man/make_transition.Rd
  man/make_video.Rd
  man/read_glatos_detections.Rd
  man/read_glatos_receivers.Rd
  man/read_otn_deployments.Rd
  man/read_otn_detections.Rd
  man/shoreline.Rd
  man/transmit_along_path.Rd
Owners: @chrisholbrook, @jdpye

check glatos_timezone
  DESCRIPTION
  NEWS.md
  R/load-read_glatos_workbook.r
  ReadMe.md
  man/check_timezone.Rd
  man/glatos.Rd
  man/read_glatos_workbook.Rd
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Style code
  R/load-read_glatos_workbook.r
Owners: @chrisholbrook, @jdpye

clean up r cmd check notes
  R/extdata.r
  R/load-read_glatos_workbook.r
  man/check_timezone.Rd
  man/shoreline.Rd
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Style code
  R/load-read_glatos_workbook.r
Owners: @chrisholbrook, @jdpye

hotfix tz bug
  R/load-read_glatos_workbook.r
  man/check_timezone.Rd
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Update documentation
  man/glatos.Rd
Owners: @chrisholbrook, @jdpye

added untracked README and docs files. Clean-up
  README.Rmd
  README.md
  docs/pkgdown.yml
  docs/reference/cast.html
  docs/reference/flynn_island_transition.html
  docs/reference/higgins_lake_transition.html
  docs/reference/kml_to_csv.html
  docs/reference/make_transition.html
  docs/reference/otn_aat_animals.html
  docs/reference/otn_aat_receivers.html
  docs/reference/otn_aat_tag_releases.html
  docs/reference/read_workbook_project.html
  docs/reference/shoreline.html
  docs/reference/video-images.html
Owners: @chrisholbrook, @jdpye

added index.qmd file to create the project landing page
  index.qmd
Owners: @chrisholbrook, @jdpye

copied original ReadMe to pkgdown branch
  ReadMe.md
Owners: @chrisholbrook, @jdpye

removed old stuff
  ReadMe.md
  _pkgdown.yml
  index.qmd
Owners: @chrisholbrook, @jdpye

latest version of pkgdown website
  .gitignore
  README.md
  man/figures/abacus_plt-1.png
  pkgdown/_pkgdown.yml
  pkgdown/index.md
  pkgdown/index.qmd
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Style code
  pkgdown/index.qmd
Owners: @chrisholbrook, @jdpye

adjusted README to match pkgdown and changed colors to GLATOS blue
  README.md
  README.qmd
  pkgdown/_pkgdown.yml
  pkgdown/extra.css
  pkgdown/index.md
Owners: @chrisholbrook, @jdpye

adjusted parameters in pkgdown yaml file
  pkgdown/_pkgdown.yml
Owners: @chrisholbrook, @jdpye

rebuilt README.md from README.qmd
  README.md
Owners: @chrisholbrook, @jdpye

adjusted readme figure path.
  README.md
  README.qmd
  man/figures/README-abacus_plt-1.png
Owners: @chrisholbrook, @jdpye

cleanup
  man/figures/abacus_plt-1.png
Owners: @chrisholbrook, @jdpye

Init orphan branch
  _temp_file_ok_to_delete
Owners: @chrisholbrook, @jdpye

Remove temp file
  _temp_file_ok_to_delete
Owners: @chrisholbrook, @jdpye

pkgdown setup with automatic workflow
  .Rbuildignore
  .github/workflows/pkgdown.yaml
  .gitignore
  DESCRIPTION
  _pkgdown.yml
Owners: @chrisholbrook, @jdpye, @mhpob

adjusted workflow permissions
  .github/workflows/pkgdown.yaml
Owners: @mhpob

adjusted permissions
  .github/workflows/pkgdown.yaml
Owners: @mhpob

adjusted permissions
  .github/workflows/pkgdown.yaml
Owners: @mhpob

Deploying to gh-pages from @ ocean-tracking-network/glatos@df4f3b53fbdec56234eb8b5f076f68d51f0777c5 🚀
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/jarasterize.html
  reference/jarasterize.md
  reference/make_transition.html
  reference/make_transition.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

Add GitHub links to DESCRIPTION
  DESCRIPTION
Owners: @chrisholbrook, @jdpye

Deploying to gh-pages from @ ocean-tracking-network/glatos@8359bb82bfec076cd0f2c225e30f9f72d2e37dd6 🚀
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/jarasterize.html
  reference/jarasterize.md
  reference/make_transition.html
  reference/make_transition.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

updated Description
  DESCRIPTION
Owners: @chrisholbrook, @jdpye

Deploying to gh-pages from @ ocean-tracking-network/glatos@ef790e0e31c116303ec3a314f960476c83fff1be 🚀
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/make_transition.html
  reference/make_transition.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

changed url to live site
  _pkgdown.yml
Owners: @chrisholbrook, @jdpye

clarified sorting of input for min_lag function documentation
  R/proc-min_lag.r
  man/glatos.Rd
  man/min_lag.Rd
Owners: @chrisholbrook, @jdpye

Deploying to gh-pages from @ ocean-tracking-network/glatos@0036d32e4887d7f912fcbfe37bfa1611a40c54db 🚀
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/glatos.html
  reference/glatos.md
  reference/jarasterize.html
  reference/jarasterize.md
  reference/make_transition.html
  reference/make_transition.md
  reference/min_lag.html
  reference/min_lag.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

Deploying to gh-pages from @ ocean-tracking-network/glatos@39223462f649e74ffd240644acbb687fe107dd24 🚀
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/make_transition.html
  reference/make_transition.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

added logic to check for validity of location_col in detection_events (#116) and added tests for detection_events function
  R/summ-detection_events.r
  man/detection_events.Rd
  tests/testthat/helper-make-test-data.R
  tests/testthat/test-detection_events.R
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Style code
  R/summ-detection_events.r
  tests/testthat/helper-make-test-data.R
Owners: @chrisholbrook, @jdpye

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
## NOTE: matching is done via globbing, not regular expressions!

# Default code owners for everything in the repo
* @chrisholbrook @jdpye

##################
# Eveything below is for files requesting review NOT by C. Holbrook or J. Pye
##################

# Request review of OTN functions by OTN staff
/R/*_otn_* @jackVanish @jdpye
/tests/testthat/test-*_otn_* @jackVanish @jdpye
/data-raw/*-blue_shark*.r @jackVanish @jdpye
/data-raw/intdata-hfx_deployments.r @jackVanish @jdpye
/data-raw/*-otn*.r @jackVanish @jdpye
/R/load-prepare_deploy_sheet.R @jackVanish @jdpye # R. Gosse, original
/R/load-prepare_tag_sheet.R @jackVanish @jdpye # R. Gosse, original
/tests/testthat/test-prepare_tag_sheet.R @jackVanish @jdpye
/R/summ-receiver_efficiency.r @jackVanish @jdpye # A. Nunes, original
/tests/testthat/test-receiver_efficiency.R @jackVanish @jdpye
/R/summ-residence_index.r @jackVanish @jdpye # A. Nunes, original
/tests/testthat/test-residence_index.r @jackVanish @jdpye
/R/util-convert*.r @jackVanish @jdpye # R. Gosse, original
/tests/testthat/test-convert* @jackVanish @jdpye

# Request review of changes to functions by their respective authors
/R/summ-detection_events.R @haydento @chrisholbrook
/R/vis-adjust_playback_time.r @haydento @chrisholbrook
/R/vis-interpolate_path.r @haydento @chrisholbrook
/R/vis-make_frames.r @haydento @chrisholbrook
/R/vis-make_transition.r @haydento @chrisholbrook
/R/vis-make_video.r @haydento @chrisholbrook

# Request review of changes to data by their respective authors
/data/greatLakesPoly.rda @haydento
/data/great_lakes_polygon.rda @haydento
/data/greatLakesTrLayer.rda @haydento
/data/range_detection.rda @haydento

# Request review of detection_range_model by B. Hlina
/R/summ-detection_range_model.r @benjaminhlina
/tests/testthat/test-detection_range_model.r @benjaminhlina
/data/sample_detection_efficiency.rda @benjaminhlina
/data-raw/intdata-sample_detection_efficiency.r @benjaminhlina

# Request review of GitHub interactions by M. O'Brien
/.github/ @mhpob
