Repository ocean-tracking-network/glatos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @chrisholbrook, @jdpye, @jackVanish, @haydento, @benjaminhlina, @mhpob

Deploying to gh-pages from @ ocean-tracking-network/glatos@7db0b093f0113fad03f91202ec4034139dc1733d 🚀
  deps/bootstrap-5.3.8/fonts/109cfdfecabbfbf5e2364aaceece5d12.woff2
  deps/bootstrap-5.3.8/fonts/5cd426f27cf61d86c207d97f8db6cf8a.woff2
  deps/bootstrap-5.3.8/fonts/a8e2cb7ac3da2c4d38cd7c8c06ca5e46.woff2
  deps/bootstrap-5.3.8/fonts/c0540813382b64c1dde636c1fa0b592a.woff2
  deps/bootstrap-5.3.8/fonts/e0243c1a22ed284bb57c07b3ac886694.woff2
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/detection_events.html
  reference/detection_events.md
  reference/jarasterize.html
  reference/jarasterize.md
  reference/make_transition.html
  reference/make_transition.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

added tests to check data type of input arguments and output for both condensed and long format results for detection_events
  R/summ-detection_events.r
  tests/testthat/helper-make-test-data.R
  tests/testthat/test-detection_events.R
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Style code
  tests/testthat/test-detection_events.R
Owners: @chrisholbrook, @jdpye

Deploying to gh-pages from @ ocean-tracking-network/glatos@2bb4e2ed530785ec64bfebe1b4e6437f5315bb3e 🚀
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/jarasterize.html
  reference/jarasterize.md
  reference/make_transition.html
  reference/make_transition.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Update documentation
  DESCRIPTION
  NAMESPACE
  man/detection_events.Rd
Owners: @chrisholbrook, @jdpye

Deploying to gh-pages from @ ocean-tracking-network/glatos@34a50612b6b73cab81b2506a5cb6b09ff721df84 🚀
  pkgdown.yml
  reference/cast.html
  reference/cast.md
  reference/detection_events.html
  reference/detection_events.md
  reference/jarasterize.html
  reference/jarasterize.md
  reference/make_transition.html
  reference/make_transition.md
  reference/read_workbook_project.html
  reference/read_workbook_project.md
  search.json
Owners: @chrisholbrook, @jdpye

fixed documentation for REI, fixed example, added logic with error messages to validate input column names and types.
  NAMESPACE
  R/summ-receiver_efficiency.r
  man/REI.Rd
Owners: @chrisholbrook, @jdpye, @jackVanish

fixed documentation and examples in false_detections, read_otn_deployments, read_otn_detections, receiver_efficeny, abacus_plot.
  R/filt-false_detections.r
  R/load-read_otn_deployments.R
  R/load-read_otn_detections.r
  R/summ-receiver_efficiency.r
  R/vis-abacus_plot.r
  man/REI.Rd
  man/abacus_plot.Rd
  man/false_detections.Rd
  man/read_otn_deployments.Rd
  man/read_otn_detections.Rd
  tests/testthat/test-read_otn_deployments.r
  tests/testthat/test-receiver_efficiency.R
Owners: @chrisholbrook, @jdpye, @jackVanish

updated changelog
  NEWS.md
Owners: @chrisholbrook, @jdpye

version up
  DESCRIPTION
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Style code
  R/load-read_glatos_workbook.r
  R/load-read_otn_deployments.R
Owners: @chrisholbrook, @jdpye, @jackVanish

updated tests to skip non-windows for functions that rely on Innovasea apps, fixed documentation in REI and read_vdat_csv, fixed failing tests in video functions
  NEWS.md
  R/load-read_vdat_csv.r
  R/summ-receiver_efficiency.r
  man/REI.Rd
  man/read_vdat_csv.Rd
  tests/testthat/test-adjust_playback_time.r
  tests/testthat/test-detection_events.R
  tests/testthat/test-make_video.r
  tests/testthat/test-read_vdat_csv.R
  tests/testthat/test-vdat_convert.R
  tests/testthat/test-vrl2csv.r
  tests/testthat/test-vue_convert.r
  tests/testthat/test-write_vdat_csv.R
Owners: @chrisholbrook, @jdpye, @jackVanish

[GitHub Actions] Style code
  R/load-read_otn_deployments.R
  R/load-read_vdat_csv.r
Owners: @jackVanish, @jdpye, @chrisholbrook

[GitHub Actions] Style code
  vignettes/articles/detection_range_handout.Rmd
  vignettes/articles/receiver_efficiency_index_handout.Rmd
  vignettes/articles/residence_index_handout.Rmd
Owners: @chrisholbrook, @jdpye

working to move handout supplemental files out of package but keep in website.
  .Rbuildignore
  DESCRIPTION
  R/data.r
  _pkgdown.yml
  data/range_detection.rda
  data/sample_detection_efficiency.rda
  inst/supplemental_docs/render_supplemental_docs.R
  pkgdown/assets/range_detection.rds
  pkgdown/assets/sample_detection_efficiency.rds
  vignettes/.gitignore
  vignettes/articles/detection_efficiency_vignette.Rmd
  vignettes/articles/detection_range_handout.Rmd
  vignettes/articles/detection_range_handout_cache/html/__globals
  vignettes/articles/detection_range_handout_cache/html/__objects
  vignettes/articles/detection_range_handout_cache/html/__packages
  vignettes/articles/detection_range_handout_cache/html/analysis24_501b7f8df98f843370488f1abf0d3920.RData
  vignettes/articles/detection_range_handout_cache/html/analysis24_501b7f8df98f843370488f1abf0d3920.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis24_501b7f8df98f843370488f1abf0d3920.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis25_b7206b3eae5df94af68a58b06ff441e8.RData
  vignettes/articles/detection_range_handout_cache/html/analysis25_b7206b3eae5df94af68a58b06ff441e8.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis25_b7206b3eae5df94af68a58b06ff441e8.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis26_8457445eb98f057f746d07647bf598bc.RData
  vignettes/articles/detection_range_handout_cache/html/analysis26_8457445eb98f057f746d07647bf598bc.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis26_8457445eb98f057f746d07647bf598bc.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis8_930a1905dd3930028293463ae039e960.RData
  vignettes/articles/detection_range_handout_cache/html/analysis8_930a1905dd3930028293463ae039e960.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis8_930a1905dd3930028293463ae039e960.rdx
  vignettes/articles/detection_range_handout_files/execute-results/html.json
  vignettes/articles/detection_range_handout_files/figure-html/analysis10-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis11-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis14-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis19-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis22-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis7-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis8-1.png
  vignettes/articles/detection_range_handout_files/figure-html/fig1-1.png
  vignettes/articles/test.Rmd
Owners: @chrisholbrook, @jdpye, @haydento, @benjaminhlina

updated package down format, moved vignettes to articles, created cache. Still have issues with tests
  _pkgdown.yml
  vignettes/articles/detection_efficiency_vignette.Rmd
  vignettes/articles/detection_range_handout.Rmd
  vignettes/articles/detection_range_handout_cache/html/analysis24_0ecc0ccdc951718867ff9e4da4a7f875.RData
  vignettes/articles/detection_range_handout_cache/html/analysis24_0ecc0ccdc951718867ff9e4da4a7f875.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis24_0ecc0ccdc951718867ff9e4da4a7f875.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis24_501b7f8df98f843370488f1abf0d3920.RData
  vignettes/articles/detection_range_handout_cache/html/analysis25_49ff7e89ca8d3907cdc91cecf85c0a46.RData
  vignettes/articles/detection_range_handout_cache/html/analysis25_49ff7e89ca8d3907cdc91cecf85c0a46.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis25_49ff7e89ca8d3907cdc91cecf85c0a46.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis25_b7206b3eae5df94af68a58b06ff441e8.RData
  vignettes/articles/detection_range_handout_cache/html/analysis26_0284dea69fbde34b9a973633e3205114.RData
  vignettes/articles/detection_range_handout_cache/html/analysis26_0284dea69fbde34b9a973633e3205114.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis26_0284dea69fbde34b9a973633e3205114.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis26_8457445eb98f057f746d07647bf598bc.RData
  vignettes/articles/residence_index_handout.Rmd
  vignettes/data_loading_vignette.Rmd
  vignettes/data_requirements_vignette.Rmd
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Update documentation
  man/range_detection.Rd
  man/sample_detection_efficiency.Rd
Owners: @chrisholbrook, @jdpye

fixed mistaken commit- removed vignette cache files for articles, condensed .Rbuildignore and .gitignore
  .Rbuildignore
  .gitignore
  vignettes/.gitignore
  vignettes/articles/.gitignore
  vignettes/articles/detection_range_handout_cache/html/__globals
  vignettes/articles/detection_range_handout_cache/html/__objects
  vignettes/articles/detection_range_handout_cache/html/__packages
  vignettes/articles/detection_range_handout_cache/html/analysis24_0ecc0ccdc951718867ff9e4da4a7f875.RData
  vignettes/articles/detection_range_handout_cache/html/analysis24_0ecc0ccdc951718867ff9e4da4a7f875.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis24_0ecc0ccdc951718867ff9e4da4a7f875.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis25_49ff7e89ca8d3907cdc91cecf85c0a46.RData
  vignettes/articles/detection_range_handout_cache/html/analysis25_49ff7e89ca8d3907cdc91cecf85c0a46.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis25_49ff7e89ca8d3907cdc91cecf85c0a46.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis26_0284dea69fbde34b9a973633e3205114.RData
  vignettes/articles/detection_range_handout_cache/html/analysis26_0284dea69fbde34b9a973633e3205114.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis26_0284dea69fbde34b9a973633e3205114.rdx
  vignettes/articles/detection_range_handout_cache/html/analysis8_930a1905dd3930028293463ae039e960.RData
  vignettes/articles/detection_range_handout_cache/html/analysis8_930a1905dd3930028293463ae039e960.rdb
  vignettes/articles/detection_range_handout_cache/html/analysis8_930a1905dd3930028293463ae039e960.rdx
  vignettes/articles/detection_range_handout_files/execute-results/html.json
  vignettes/articles/detection_range_handout_files/figure-html/analysis10-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis11-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis14-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis19-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis22-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis7-1.png
  vignettes/articles/detection_range_handout_files/figure-html/analysis8-1.png
  vignettes/articles/detection_range_handout_files/figure-html/fig1-1.png
  vignettes/articles/test.Rmd
Owners: @chrisholbrook, @jdpye

[GitHub Actions] Style code
  vignettes/articles/detection_range_handout.Rmd
Owners: @chrisholbrook, @jdpye

added example data table that was moved to website to shrink package size
  R/summ-detection_range_model.r
Owners: @benjaminhlina

[GitHub Actions] Style code
  R/summ-detection_range_model.r
Owners: @benjaminhlina

fixed tests for detection_range _model.R. Broke because moved the example data out of package into online-only access.
  R/summ-detection_range_model.r
  man/detection_range_model.Rd
  tests/testthat/test-detection_range_model.r
Owners: @benjaminhlina, @chrisholbrook, @jdpye

[GitHub Actions] Update documentation
  man/detection_range_model.Rd
Owners: @chrisholbrook, @jdpye

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
## NOTE: matching is done via globbing, not regular expressions!

# Default code owners for everything in the repo
* @chrisholbrook @jdpye

##################
# Eveything below is for files requesting review NOT by C. Holbrook or J. Pye
##################

# Request review of OTN functions by OTN staff
/R/*_otn_* @jackVanish @jdpye
/tests/testthat/test-*_otn_* @jackVanish @jdpye
/data-raw/*-blue_shark*.r @jackVanish @jdpye
/data-raw/intdata-hfx_deployments.r @jackVanish @jdpye
/data-raw/*-otn*.r @jackVanish @jdpye
/R/load-prepare_deploy_sheet.R @jackVanish @jdpye # R. Gosse, original
/R/load-prepare_tag_sheet.R @jackVanish @jdpye # R. Gosse, original
/tests/testthat/test-prepare_tag_sheet.R @jackVanish @jdpye
/R/summ-receiver_efficiency.r @jackVanish @jdpye # A. Nunes, original
/tests/testthat/test-receiver_efficiency.R @jackVanish @jdpye
/R/summ-residence_index.r @jackVanish @jdpye # A. Nunes, original
/tests/testthat/test-residence_index.r @jackVanish @jdpye
/R/util-convert*.r @jackVanish @jdpye # R. Gosse, original
/tests/testthat/test-convert* @jackVanish @jdpye

# Request review of changes to functions by their respective authors
/R/summ-detection_events.R @haydento @chrisholbrook
/R/vis-adjust_playback_time.r @haydento @chrisholbrook
/R/vis-interpolate_path.r @haydento @chrisholbrook
/R/vis-make_frames.r @haydento @chrisholbrook
/R/vis-make_transition.r @haydento @chrisholbrook
/R/vis-make_video.r @haydento @chrisholbrook

# Request review of changes to data by their respective authors
/data/greatLakesPoly.rda @haydento
/data/great_lakes_polygon.rda @haydento
/data/greatLakesTrLayer.rda @haydento
/data/range_detection.rda @haydento

# Request review of detection_range_model by B. Hlina
/R/summ-detection_range_model.r @benjaminhlina
/tests/testthat/test-detection_range_model.r @benjaminhlina
/data/sample_detection_efficiency.rda @benjaminhlina
/data-raw/intdata-sample_detection_efficiency.r @benjaminhlina

# Request review of GitHub interactions by M. O'Brien
/.github/ @mhpob
